@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media (max-width:1000px){
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.centre{
    width: 1729px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    background-color: #2a2c2e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 96px;
    padding: 20px 24px;
    margin: 15px auto;
    border-radius: 20px;
}
.headerText{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    gap: 32px;
}
.headerText> li> a{
    color: whitesmoke;
} 
.navRight{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.navLogo{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.headerButton{
    background-color: #f4ce47;
    border-radius: 12px;
    padding: 16px 28px;
    border: 0;
}
.headerText > li > a:hover{
    color: #f4ce47;
}
@media (max-width: 1000px) {
    .centre{
        width: 432px;
        align-items: center;
    }
   
    header{
        flex-direction: column;
        width: 430px;
        height: 413px;
        padding-bottom: 16px;
    }
    header > .headerText{
        flex-direction: column;
        align-items: center;
    }
    .bannerWrap{
        width: 430px;
    }
}
.bannerWrap{
    background-color: #f4ce47;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
}
.banner{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 80px;
    gap: 65px;
    justify-content: center;
    align-items: center;
    width: 1728px;
    height: 80px;
    margin: 15px auto;
    text-wrap: nowrap;
    
}
.banner > h2{
    color: #f4ba40;
    font-size: 48px;
    font-weight: 400;
}
.banner> h2.bannerMidtext{
    color: #2a2c2e;
}
main{
    background-color: #2a2c2e;
    width: 1729px;
    height: 1874px;
    margin: 15px auto;
}
main > .container{
    width: 898px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px 0;
}
@media (max-width: 1000px){
    main{
        width: 432px;
        height: auto;
    }
    main > .container{
        flex-direction: column;
        width: 294px;
        height: auto;
    }

}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 577px;
    width: 294px;
    border-radius: 20px;
    padding: 25px;
    
    
}
.card > div > img{
    width: 246px;
    height: 357px;
    border-radius: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 164px;
    gap: 35px;
    
}
.author{
    font-size: 14px;
    opacity: 60%;
}
.tittle{
    font-size: 16px;
    opacity: 87%;
    font-weight: bold;
    height: 24px;
}
.comment{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.comment > p{
    display: flex;
    flex-direction: row;
    gap:4px;
    padding:8px 12px;
    border:1px solid black;
    border-radius:30px;
}
.price{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.price > p{
    font-size: 18px;
}
.price > p:first-child{
    text-decoration: line-through;
    opacity: 40%;
}
footer{
    width: 1248px;
    padding-top: 20px;
    margin: 0 auto;
}
footer > .topFooter{
    background-color: #2a2c2e;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
footer > .bottomFooter{
    background-color: #000000;
    opacity: 87%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;  
}
footer > .bottomFooter > div{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 12px;
}
footer > .bottomFooter > div > p{
    color: white;
}
@media (max-width: 1000px) {
    footer{
        width: 430px;
    }
    footer > .topFooter{
        height: 88px;
    }
    footer > .bottomFooter{
        flex-direction: column;
        height: 72px;
        gap: 16px;
        justify-content: center;
    }
}